body {
    background: #222;
    font-family: "Montserrat", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* label focus color */

.input-field input:focus+label {
    color: #00BFFF !important;
}


/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid #00BFFF !important;
    box-shadow: 0 1px 0 0 #00BFFF !important;
}

li {
    font-family: "Montserrat", sans-serif;
}

ul.dropdown-content.select-dropdown li span {
    color: white;
    background: #222;
    /* no need for !important :) */
}

.select-dropdown {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.gray {
    color: #575757;
}

.page-footer {
    background-color: #0099cc !important;
}

.dropdown-content {
    background-color: #222;
    color: white;
}

.dropdown-content li a {
    transition: all 0.5s ease;
    color: white;
}

.dropdown-content li a:hover {
    transition: all 0.5s ease;
    background-color: white;
    color: #222;
}

.collapsible-body {
    background-color: white !important;
}

.nav-wrapper {
    background-color: #00BFFF;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #00BFFF !important;
    border-bottom: 2px solid #00BFFF !important;
}