<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="right">
                <a class="dropdown-trigger btn" href="#" data-target="dropdown-credits"
                    style="background-color: #222;">Credits</a>
                <ul id="dropdown-credits" class="dropdown-content" style="width: 1000px !important;">
                    <li>
                        <a href="https://gist.github.com/pdesterlich/2562329" target="_blank">Nomi italiani</a>
                    </li>
                    <li>
                        <a href="https://www.usna.edu/Users/cs/roche/courses/s15si335/proj1/files.php%3Ff=names.txt.html"
                            target="_blank">Nomi inglesi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>